    <section class="hero has-background-info is-medium">
     <div class="hero-body">
            <h1 class="title is-1 has-text-centered">
               Posts
            </h1>
            <h2 class="subtitle has-text-centered">
               View all posts
            </h2>
            </div>

        <div>
  
           
          
      

</section>


    <div class="container">
        <div class="columns is-multiline">
            {{#each posts}}
            {{> post}}
            {{/each}}
        </div>
    </div>
